:root{
    --main-color: #6b120b;
    --secondary-color:#113047;
    --background-color:#fbf0d8;
    --main-font: "TikTok Sans", sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 1rem;
}

body{
    background-color: var(--background-color);
    font-family: var(--main-font);
    font-weight: 500;
}
